*{
    color:black
   font-family: Arial, Helvetica, sans-serif;
}
header {
    text-align: end ;
    background-color:red;
    position: static;
    width: 100%;
    padding: 20px;
 }
    li{
        display: inline;
        padding: 20px;
    }
  
    #section-1{
    background-color:blue;
position:
}

#section-2{
    background-color: aquamarine;
}

form {
    background-color:aqua;
    text-align: center;
    font-size: large;
    padding: 20px
;
}

figure {
    background-color: aqua;
    text-align: center;
    font-size: medium;
    padding: 50px;
}

h1{
    text-align: center;
    font-size: large;
    padding: 35px;
}
